.env
.git
.gitignore
node_modules
vendor
storage/debugbar
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
.DS_Store
docker/
README.md
DEPLOY_TUTORIAL.md
DEPLOY_INFINITYFREE.md
DEPLOY_RENDER.md
